:root {
  --mint: #bbe9e8;
  --yellow: #f5e284;
  --lighta: #fafafa;
  --light5: #f5f5f5;
  --teal: #68aaa9;
  --warning: #dfc12b;
  --danger: #e69464;
  --pink: #e283b9;
  --purple: #a583e2;
  --dark: #232323;
  --none: #676767; }

@font-face {
  src: url('./fonts/exodus-regular.otf') format('opentype');
  font-family: 'exodus';
}

::-webkit-scrollbar { width: 9px; }
::-webkit-scrollbar-track { background-color: var(--teal); border: 4px solid var(--dark); }
::-webkit-scrollbar-thumb { background-color: var(--teal); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #efefef url('./images/background.jpg') no-repeat;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  color: #454545; 
  line-height: 120%; }

header { 
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  
a:link,
a:active,
a:visited {
  text-decoration: none; }

a:hover { color: white; }

a.porta { color: var(--pink); }

p {
  font-size: 16px;
  line-height: 1.75rem; }

.top {
  background: #232323;
  margin: 0;  }

.tall {
  min-height: 275px;
  padding: 40px; }

img.initials {
  max-width: 85%;
  max-height: 85%;
  object-fit: cover; }

img.initials:nth-child(2) {
  margin-left: -20px; 
  margin-top: 40px; }

img.hex {
 max-width: 85%;
 max-height: 85%;
 object-fit: cover; }

.yellow {
  background: #F5E284; 
  margin: 0;
  text-align: center;
  font: 18px/100% 'Cutive Mono', monospace;
  color: #232323;
  text-transform: uppercase; }

.navbar-nav li {
  margin-right: 80px; 
  letter-spacing: 2px; }

.nopad { padding: 0; }

.chill {
  background: var(--mint) url('./images/flora-1.png') repeat;
  background-size: auto; 
  background-blend-mode: soft-light;
  padding: 30px 15px; 
  display: flex; 
  flex-flow: row wrap; 
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid var(--teal); }

.chill h1 {
  font: bold 18px/100% 'Cutive Mono', 'Courier New', monospace;
  color: #BBE9E8;
  background-color: var(--dark);
  text-align: center;
  padding: 20px; 
  text-transform: uppercase; 
  letter-spacing: 2px;
  border-radius: 5px 5px 0 0; }

  h1.alone {
    border-radius: 5px; 
  }

.chill .card {
  width: auto; 
  border: 0;
  margin-bottom: 30px;
  margin-top: -7px;
  border-radius: 5px; 
  border: 1px solid #cdcdcd; }

.chill .card:last-child { margin-bottom: 0; }

.chill .card ul li {
  list-style-type: none;
  padding: 15px; 
}

.chill .card ul li::before {
  content: '☆';
  color: var(--pink); 
  padding-right: 10px; 
}

h4.card-title {
  font-weight: bold;
  color: var(--purple); }

.card-title {
  font: 22px/100% 'Cutive Mono', monospace;
  text-transform: uppercase; }

.text-muted {
  font-size: 16px; 
  text-transform: uppercase;
  color: var(--teal);  }

.card-text { font-size: 14px; }

.card-body .progress {
  height: 5px;
  border-radius: 0; 
  margin-bottom: 10px; 
  margin-top: -5px; }

.port {
  margin-bottom: 10px; 
}

.he-container {
  min-height: 50vh;
  padding: 30px; }

.jumbotron {
  background: var(--lighta) url('./images/flora-10.png') no-repeat;
  background-size: 45%;
  background-position: bottom right; 
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #cdcdcd; }

.jumbotron h1 {
  display: block;
  font: 50px/100% 'exodus', serif;
  color: var(--mint);
  letter-spacing: 3px;
  word-spacing: 6px; 
  margin: 0 0 50px 0; 
  padding: 20px;
  background-color: var(--dark); 
  border-radius: 5px; }

h1 a {
  color: var(--pink); 
}

.right { float: right; }

.left { float: left; }

.right + .row,
.left + .row {
  clear: both; }

.hexagon,
.hexagon2 {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 245px;
  height: 211px; }

.hexagon2 {
  background-color: var(--pink); 
  width: 285px;
  height: 251px; 
  padding: 10px; 
  margin: 0 20px; 
  display: flex;
  align-items: center;
  justify-content: center; }

.hexagon img { 
  width: 245px;
  height: 211px;
  object-fit: cover; 
  object-position: center; }

.about-me:first-letter {
  font: 80px/100% 'exodus', serif;
  color: var(--purple); 
  float: left;
  margin-right: 5px;
  margin-bottom: 1px; }

.bg-success { background-color: var(--pink) !important; } 
.bg-warning { background-color: var(--purple) !important; } 
.bg-danger { background-color: var(--yellow) !important; } 
.bg-none { background-color: var(--teal) !important; } 

/* footer {
  background: var(--mint); 
  text-align: center; 
  padding: 10px 0;
  display: block;
  width: 200px; 
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999; }

footer > span {
  display: block; 
  margin: 5px;
  color: white; 
  font-size: 11px; }

footer > span > a {
  color: white;
  font-size: 30px; 
  margin-left: 10px; } */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 10; 
}  

.btn-port {
  background: var(--purple);
  color: white; }

.color { color: var(--teal); }

/* social media links */
.links-con {
	width: 250px;
	height: 250px;
	position: absolute;
	bottom: 0;
	left: 0px;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	z-index: 1;
	overflow: hidden; 
	filter: url('#goo');
}

.links-con input { display: none; }

/* label styling for social media links */
.menu {
	display: block;
	position: fixed;
	bottom: -50px;
	left: -40px;
	z-index: 3;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background-color: var(--pink);
	transform: scale(0.7);
	transition: all 0.8s ease-in-out;
}

.menu .gloop {
	width: 40px;
	margin: 35px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu .gloop .initials {
	font: 60px/100% 'Playfair Display', serif;
	color: white;
	letter-spacing: 5px;
	padding-left: 10px;
}

/* link ul li styling for social media links */
.links-con .he-links {
	list-style-type: none;
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0px;
}

.links-con .he-links .he-li {
	width: 30px;
	height: 30px;
	padding: 20px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	z-index: 1;
	position: absolute;
	bottom: 5px;
	left: 5px;
	transition: all 0.5s ease;
	margin: 0;
}

.links-con .he-links .he-li.linkedin { background: var(--purple); }

.links-con .he-links .he-li.tumblr { background: var(--yellow); }

.links-con .he-links .he-li.github { background: var(--mint); }

.links-con .he-links .he-li a {
	font-size: 25px;
	text-decoration: none;
  color: white;
}

.links-con input:checked + .menu { transform: scale(0.9) rotate(23deg); }

/* do the thing */ 
.he-li {
	transform: translate3d(0, 0, 0);
  transition: transform ease-out 0.3s;
}

.he-links .he-li.linkedin,
.he-links .he-li.tumblr,
.he-links .he-li.github { transition-duration: 1s; }

.links-con input:checked ~ .he-li {
	transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.links-con input:checked ~ .he-links .he-li.linkedin {
transition-duration: 0.5s;
	transform: translate3d(0, -125px, 0) rotate(360deg);
}

.links-con input:checked ~ .he-links .he-li.tumblr {
transition-duration: 0.8s;
	transform: translate3d(85px, -90px, 0) rotate(360deg);
}

.links-con input:checked ~ .he-links .he-li.github {
transition-duration: 1.1s;
	transform: translate3d(125px, 0, 0) rotate(360deg);
}
